<div class="overlay"></div>
<div class="content">
	<div class="splash-container">
		<div class="img-container">
			<img src="<%= this.url %>" alt="">
		</div>
	</div>
	<div class="controls">
		<button data-action="love" class="icon float-left love">
			<span style="color: #333;"><%= this.attr("likeCount") %></span>
		</button>
	</div>
</div>