<div class="img-wrapper"><img src="<%= this.thumbnail.vignette %>"/></div>
<div class="controls">
	<button data-action="remove" data-tooltip="Slett" class="icon float-right remove"></button>
	<button data-action="love" data-tooltip="Favoritt" class="icon float-left love<%= (this.attr("cooldown") ? " highlight" : "") %>"><span><%= this.attr("likes") %></span></button>
</div>