<div class="img-wrapper"><img src="<%= this.thumbnail.vignette %>"/></div>
<div data-action="full-screen" class="full-screen"></div>
<div class="controls">
	<button data-action="remove" data-tooltip="Slett" class="icon float-right remove"></button>
	<button data-action="love" class="icon float-left love<%= (this.attr("isLoved") ? " highlight" : "") %>">
		<span><%= this.attr("like_count") %></span>
	</button>
</div>