<div class="overlay"></div>
<div class="content">
	<div class="splash-container">
		<button data-action="prev"><</button>
		<button data-action="next">></button>
		<div class="img-container">
			<img src="<%= this.url %>" alt="">
		</div>
	</div>
</div>