<div class="img-wrapper"><img src="<%= this.thumbnail.vignette %>"/></div>
<div class="controls">
	<button data-action="remove" data-tooltip="Slett" class="icon float-right remove"></button>
	<button data-action="full-screen" class="icon float-right full-screen"></button>
	<button data-action="love" class="icon float-right love<%= (this.attr("cooldown") ? " highlight" : "") %>">
		<span><%= this.attr("like_count") %></span>
	</button>
</div>