.photos-container{
  width: 800px;
  margin: 0 auto
}
.photos{
  list-style: none;
  display: flex;
  li{
    width: 25%;
    padding: $base-line-height/4;
    img{
      max-width: 100%;
      border: 0px solid salmon;
      transition: border-width .2s ease;
      &:hover{
        border-width: 4px;
      }
    }
  }
}