.background-image {
  background: no-repeat center;
  background-size: cover;
  height: 100%;
}

.clearfix {
  @extend %clearfix;
}

.border {
  margin-top: $base-line-height*3;
  margin-bottom: $base-line-height*3;
}

.fullwidth {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.top-shadow {
  box-shadow: inset 0 8px 12px -7px grey;
}

.bottom-shadow {
  box-shadow: 0 10px 10px -7px grey;
}

.no-margin {
  margin: 0 !important;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}

.margin{
  margin-bottom: $base-line-height;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mobile-only {
  @include breakpoint(medium-up) {
    display: none !important;
  }
}
